# 全除外
*
!*/

# 許可
!/agents
!/skills
!/skills/adr/**
!/skills/grill-x/**
!/skills/grill-r/**
!/skills/roadmap/**
!/skills/task/**
!/skills/writer/**
!/hooks/**
!/scripts/**
!/README.md
!/CLAUDE.md
!/apm.yml
!/.gitignore


# 除外
.DS_Store
Thumbs.db